body {
  background-color: #dcdcdc;
  text-align: center;
  font-family: "Arial";
}

h2 {
  font-size: 2rem;
}

img {
  width: 300px;
  height: 300px;
}

.input {
  font-family: 'FontAwesome';
  font-weight: 600;
  font-size: 16px;
  padding: 10px 15px;
}

.button {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
